@import './global_var';

@mixin center-ele($approach, $isContainingBlock, $direction: row) {
  @if ($isContainingBlock) {
    position: relative;
  }

  @if ($approach == 'flex') {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
  } @else if ($approach == 'absolute') {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin neu-ele($type) {
  @if ($type == 'flat') {
    border: $neu-ele__border--flat;
    border-radius: $border-radius--round-corner;
    background-color: $neu-ele__bg-color--flat;
    box-shadow: $neu-ele__shadow--flat;
  } @else if($type == 'concave') {
    border: $neu-ele__border--concave;
    border-radius: $border-radius--round-corner;
    background-color: $neu-ele__bg-color--concave;
    box-shadow: $neu-ele__shadow--concave;
  } @else if($type == 'convex') {
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $neu-ele__gradient--convex;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */

@mixin btn-txt__size($size) {
  padding: $size;
  .txt {
    font-size: $size;
  }
}

@mixin btn-icon__size($size) {
  & svg {
    height: $size;
    width: $size;
  }
}

@mixin btn-text-icon__offset($size: 0.75 * $size--m) {
  &__icon-position--start {
    .icon {
      padding-inline-end: $size;
    }
  }

  &__icon-position--end {
    flex-direction: row-reverse;
    .icon {
      padding-inline-end: unset;
      padding-inline-start: $size;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                  TextBlock                                 */
/* -------------------------------------------------------------------------- */

@mixin textblock__icon-size($size) {
  @if ($size == $size--s) {
    margin-inline-end: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  } @else if($size == $size--m) {
    margin-inline-end: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
  } @else if($size == $size--l) {
    margin-inline-end: 2rem;
    padding-bottom: 2rem;
    font-size: 2.3rem;
  }
}

@mixin textblock__title--size($size) {
  margin: unset;

  @if ($size == $size--s) {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  } @else if($size == $size--m) {
    font-size: 2rem;
    padding-bottom: 2rem;
  } @else if($size == $size--l) {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
}

@mixin textblock__txt-size($size) {
  margin: unset;
  font-size: $size;
  line-height: 1.5 * $size;
}
