@import '../share/sass/global_mixin';
@import '../share/sass/global_var';

$text-block__padding: 1.8 * $size--s;

.host {
  @include neu-ele('concave');
  padding: $text-block__padding;
  width: 100%;
}

.title {
  margin: unset;
  @include textblock__title--size($size--s);
}

.txt {
  @include textblock__txt-size($size--s);
}

/* -------------------------------------------------------------------------- */
/*                                    size                                    */
/* -------------------------------------------------------------------------- */

.size {
  &--s {
    padding: 1.8 * $size--s;

    .title {
      @include textblock__title--size($size--s);
    }

    .txt {
      @include textblock__txt-size($size--s);
    }
  }

  &--m {
    padding: 1.2 * $size--m;

    .title {
      @include textblock__title--size($size--m);
    }
    .txt {
      @include textblock__txt-size($size--m);
    }
  }

  &--l {
    padding: 1.2 * $size--l;

    .title {
      @include textblock__title--size($size--l);
    }
    .txt {
      @include textblock__txt-size($size--l);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   variant                                  */
/* -------------------------------------------------------------------------- */

.var {
  &__txt-align--right {
    text-align: right;
  }

  &__txt-align--center {
    text-align: center;
  }

  &__txt-oneline {
    white-space: nowrap;
    overflow: hidden;

    // TODO: fading at end
    // -webkit-mask-image: linear-gradient(to left, transparent 1%, white 10%);
  }
}
