@import '../share/sass/global_mixin';
@import '../share/sass/global_var';

$text-block__padding: 1.8 * $size--s;

.host {
  @include neu-ele('concave');
  padding: $text-block__padding;
  width: 100%;
}

.container__title-icon {
  display: flex;
  align-items: center;
}

.icon {
  @include textblock__icon-size($size--s);
}

.title {
  @include textblock__title--size($size--s);
}

.txt {
  @include textblock__txt-size($size--s);
}

/* -------------------------------------------------------------------------- */
/*                                    size                                    */
/* -------------------------------------------------------------------------- */

.size {
  &--s {
    padding: 1.8 * $size--s;
    .icon {
      @include textblock__icon-size($size--s);
    }

    .title {
      @include textblock__title--size($size--s);
    }

    .txt {
      @include textblock__txt-size($size--s);
    }
  }

  &--m {
    padding: 1.2 * $size--m;

    .icon {
      @include textblock__icon-size($size--m);
    }

    .title {
      @include textblock__title--size($size--m);
    }
    .txt {
      @include textblock__txt-size($size--m);
    }
  }

  &--l {
    padding: 1.2 * $size--l;

    .icon {
      @include textblock__icon-size($size--l);
    }

    .title {
      @include textblock__title--size($size--l);
    }
    .txt {
      @include textblock__txt-size($size--l);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   variant                                  */
/* -------------------------------------------------------------------------- */

.var {
  &__txt-align--right {
    direction: rtl;
  }

  &__txt-align--center {
    text-align: center;

    .container__title-icon {
      justify-content: center;
    }
  }

  &__txt-oneline {
    white-space: nowrap;
    overflow: hidden;

    .txt {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
