@import '../share/sass/global_var';
@import '../share/sass/global_mixin';

.host {
  margin: 1rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  font-size: 0.9rem;
}

.input-box {
  @include neu-ele('concave');
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.description {
  margin: 0.25rem 0 2rem 0.25rem;
  font-size: 0.9rem;
}
