@import './global_var';

@mixin center-stuff($approach, $isContainingBlock) {
  @if ($isContainingBlock) {
    position: relative;
  }

  @if ($approach == 'flex') {
    display: flex;
    justify-content: center;
    align-items: center;
  } @else if ($approach == 'absolute') {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// TODO:
// [ ] refactoring vars
@mixin neu-ele-types($type) {
  @if ($type == 'flat') {
    padding: $size--m;
    border-radius: $border-radius--round-corner;
    border: $border--normal;
    background-color: unset;
    box-shadow: $shadow-offset__right-bottom $color__shadow--1,
      $shadow-offset__left-top $color__shadow--3;
  } @else if($type == 'concave') {
    border-color: $btn__border-color--active;
    background-color: $btn__bg-color--active;
    box-shadow: inset $shadow-offset__right-bottom $color__shadow--1,
      inset $shadow-offset__left-top $color__shadow--3;
  }
}
