@import './global_var';

@mixin center-ele($approach, $isContainingBlock) {
  @if ($isContainingBlock) {
    position: relative;
  }

  @if ($approach == 'flex') {
    display: flex;
    justify-content: center;
    align-items: center;
  } @else if ($approach == 'absolute') {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin neu-ele($type) {
  @if ($type == 'flat') {
    border-radius: $border-radius--round-corner;
    padding: $size--m;
    border: $neu-ele__border--flat;
    background-color: $neu-ele__bg-color--flat;
    box-shadow: $neu-ele__shadow--flat;
  } @else if($type == 'concave') {
    border: $neu-ele__border--concave;
    background-color: $neu-ele__bg-color--concave;
    box-shadow: $neu-ele__shadow--concave;
  } @else if($type == 'convex') {
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $neu-ele__gradient--convex;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */

@mixin btn-txt-icon__size($size) {
  padding: $size;

  .txt {
    font-size: $size;
  }

  .icon svg {
    height: $size;
    width: $size;
  }
}
