@import '../../share/sass/global_var';
@import '../../share/sass/global_mixin';

$btn-isolation__convex-gradient-color--1: $color__light--100;
$btn-isolation__convex-gradient-color--2: rgba(215, 215, 215, 1);
$btn-isolation__convex-gradient: linear-gradient(
  145deg,
  $btn-isolation__convex-gradient-color--1,
  $btn-isolation__convex-gradient-color--2
);

.host {
  // positioning: center elements
  @include center-stuff('flex', true);

  // neu button style: default
  @include neu-ele-types('flat');

  &:active {
    // neu button style: pressing
    @include neu-ele-types('concave');

    .txt {
      color: $color__dark--100;
    }
  }
}

.txt {
  // TODO: use mixin
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: $size--m;
  color: $color__dark--70;
}

.icon {
  position: absolute;
}

/* -------------------------------------------------------------------------- */
/*                                    size                                    */
/* -------------------------------------------------------------------------- */

.size {
  &--s {
    padding: $size--s;

    .txt {
      font-size: $size--s;
    }

    .icon {
      svg {
        height: $size--s;
        width: $size--s;
      }
    }
  }

  &--m {
    padding: $size--m;

    .txt {
      font-size: $size--m;
    }

    .icon {
      svg {
        height: $size--m;
        width: $size--m;
      }
    }
  }

  &--l {
    padding: $size--l;

    .txt {
      font-size: $size--l;
    }

    .icon {
      svg {
        height: $size--l;
        width: $size--l;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   variant                                  */
/* -------------------------------------------------------------------------- */

.var {
  &__shape--round {
    border-radius: $border-radius--eclipse;
  }

  &__shape--rhombus {
    transform: rotate(45deg);

    .txt {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    .icon {
      transform: rotate(-45deg);
    }
  }

  &__shape--convex {
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $btn-isolation__convex-gradient;
    }

    &:active {
      &::before {
        content: none;
      }
    }
  }

  &__border--thick {
    border: $border--thick;

    &:active {
      border-color: $btn__border-color--active;
      box-shadow: inset $shadow-offset__right-bottom $color__shadow--1,
        inset $shadow-offset__left-top $color__shadow--2;
    }
  }
}
