@import '../../share/sass/global_var';
@import '../../share/sass/global_mixin';

.host {
  @include center-ele('flex', true);
  // neu-ele: default
  @include neu-ele('flat');
  overflow: hidden;

  &:active {
    // neu-ele: pressing
    @include neu-ele('concave');

    .txt {
      color: $color__dark--100;
    }
  }
}

.txt {
  @include center-ele('absolute', false);
  font-size: $size--m;
  color: $color__dark--70;
}

.icon {
  @include center-ele('absolute', false);
  @include btn-icon__size($size--m);
}

/* -------------------------------------------------------------------------- */
/*                                    size                                    */
/* -------------------------------------------------------------------------- */

.size {
  &--s {
    @include btn-txt__size($size--s);
    @include btn-icon__size($size--s);
  }

  &--m {
    @include btn-txt__size($size--m);
    @include btn-icon__size($size--m);
  }

  &--l {
    @include btn-txt__size($size--l);
    @include btn-icon__size($size--l);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   variant                                  */
/* -------------------------------------------------------------------------- */

.var {
  &__shape--round {
    border-radius: $border-radius--eclipse;
  }

  &__shape--rhombus {
    transform: rotate(45deg);

    .txt {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    .icon {
      transform: rotate(-45deg);
    }
  }

  &__shape--convex {
    @include neu-ele('convex');

    &:active {
      &::before {
        content: none;
      }
    }
  }

  &__border--thick {
    border: $neu-ele__border--flat-thick;

    &:active {
      border: $neu-ele__border--concave-thick;
      box-shadow: $neu-ele__shadow--concave-thick;
    }
  }
}
