.host {
  position: relative;
  padding: 2rem;

  // TODO: attr: round
  border-radius: 20%;

  // TODO: attr: border
  border: 2px solid rgba(255, 255, 255, 0.5);

  // button-flat
  background-color: unset;

  // FIXME: convex
  //   background: linear-gradient(
  //     145deg,
  //     rgba(255, 255, 255, 1),
  //     rgba(215, 214, 214, 1)
  //   );

  box-shadow: 3px 3px 5px rgba(180, 180, 180, 1),
    -2px -2px 10px rgba(255, 255, 255, 1);

  &:active {
    border-color: rgba(235, 235, 235, 1);
    background-color: rgba(235, 235, 235, 1);
    box-shadow: inset 3px 3px 5px rgba(180, 180, 180, 1),
      inset -2px -2px 10px rgba(255, 255, 255, 1);

    .txt {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
