@import '../share/sass/global_var';
@import '../share/sass/global_mixin';

.host {
  height: 100%;
  width: 100%;
  background-color: $bg__color--light;
}

.center--flex-row {
  @include center-ele('flex', true);
}

.center--flex-column {
  @include center-ele('flex', true, column);
}
